@using Northwind.Models
@model ProductViewModel

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Stock</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Product product in Model.Products)
        {
            <tr>

                <td>@product.ProductName</td>
                <td>$@product.UnitPrice</td>
                <td>@product.UnitsInStock</td>
            </tr>
        }
    </tbody>
</table>
@section scripts
    {
    <script>
    // Turn off ESLint (Windows): Tools - Options - Text Editor - Javascript - Linting
    $(function () {
        getProducts()
        function getProducts() {
            $.getJSON({
                url: "../../api/product",
                success: function (response, textStatus, jqXhr) {
                    console.log(response);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // log the error to the console
                    console.log("The following error occured: " + textStatus, errorThrown);
                }
            });
        }
    });
    </script>
}